
/* Reset Css */
html {
    scroll-behavior: smooth;
}
body{
    font-family: 'Courgette', cursive;
    font-family: 'Comic Neue', cursive;
    font-size: 16px;
}
.container-fluid{
    margin:0px !important;
    padding: 0px !important;
}
.btn:focus{
    box-shadow: 0 0 0 black;
}
body a {
    color: #0df737;
}
a:hover{
    text-decoration: none;
    color: #0df737;
}
button:focus {
    outline: none;
}

/* Common in section */
.bg-style {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
#about, #services, #portfolio, #review, #contact, #footer {
    padding:90px 0px;
}
.section-heading {
    margin-bottom: 70px;
}
.section-heading h2 {
    font-size: 40px;
    text-transform: capitalize;
    font-weight: 700;
    font-family: 'Courgette', cursive;
    color: white;
}
.section-heading p {
    font-size: 14px;
    color:white;
}
/* Reset Css End */


/* *===========================================================* */



/* Main stylling */
/* Navbar Stylling */
.navbar{
    color:whitesmoke;
    padding: 0 .10px;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}
.scroll {
    background: black;
    box-shadow: 0 0 25px black;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}
.navbar-brand a{
    font-family: 'Courgette', cursive;
    color:whitesmoke;
}
.navbar-brand .brand-name span{
    color: #0df737;
}
.navbar-toggler i {
    color: white;
}
.navbar-nav .nav-link {
    color: whitesmoke;
    text-transform: capitalize;
    position: relative;
    transition:  ease-in .3s;
    -webkit-transition:  ease-in .3s;
    -moz-transition:  ease-in .3s;
    -ms-transition:  ease-in .3s;
    -o-transition:  ease-in .3s;
}
.navbar-nav .nav-link:hover, .navbar-nav .active {
    color: #0df737;
}
.navbar-nav .active {
    color: #0df737;
}
.navbar-nav .nav-link::before {
    content: '';
    position: absolute;
    width:0%;
    height: 3px;
    background: #0df737;
    bottom: 0;
    transition: ease-in .3s;
    -webkit-transition: ease-in .3s;
    -moz-transition: ease-in .3s;
    -ms-transition: ease-in .3s;
    -o-transition: ease-in .3s;
}
.navbar-nav .nav-link:hover::before, .navbar-nav .active::before  {
    width:50%;
}
/* Navbar Stylling End */

/* ***************==================***************** */

/* Hero Section */

.hero-bg-cover{
    width:100%;
    min-height: 700px;
    height: 100vh;
    background-image:linear-gradient( black,rgba(72, 57, 208, 0.562)), url(../img/hero-bg.jpg);
    position: relative;
}

.hero-bg-cover::before{
    content: '';
    position: absolute;
    width:600px;
    height: 700px;
    background-image: url(../img/me-1.png);
    background-size: cover;
    bottom: 0;
    right: 0;
}

.hero-content{
    color:white;
    text-transform: uppercase;
}
.hero-info .head-line{
    font-size: 18px;
}
.hero-info .name{
    font-size: 70px;
    font-family: 'Courgette', cursive;
    margin-bottom: 15px;
}
.hero-info .profession{
    font-size: 25px;
    margin-bottom: 50px;
}
.hero-info .hire-btn, #contact .sub-btn, #services .hire-btn{
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
    padding: 10px 45px;
    background: linear-gradient(to right, #0df737, rgb(10, 126, 31));
    outline: none;
    border:none;
}
/* Hero Section End */

/* ************==========================***************** */

/* About section */
#about {
    background-image:linear-gradient(rgba(0, 0, 0, 0.534),rgba(0, 0, 0, 0.514)), url(../img/about-bg.jpg);
    color:white;
}
#about .table {
    color: white !important;
}
.small-heading{
    font-size: 18px;
    text-transform: uppercase;
    font-family: 'Times New Roman', Times, serif;
}
#about .section-heading {
    margin-bottom: 50px;
}
#about .description{
    text-align: justify;
}
#about .table td, .table th{
    border-top: 0px;
    padding: 5px 0px;
}
#about .profile-img{
    background-image: url(../img/color-grid.png);
    background-repeat: no-repeat;
    background-position: center;
}
#about .profile-img img{
    width:100% !important;
    height: 500px;
    box-shadow: 3px 10px 13px -7px #000000;
}

#about .social-link .nav-link {
    padding:0px;
    padding-right: 10px;
}
#about .social-link i {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}
#about .social-link .facebook i {
    border: 1px solid #3E5C9A ;
    color: #3E5C9A ;
}
#about .social-link .twitter i {
    border: 1px solid #1DA1F2 ;
    color: #1DA1F2 ;
}
#about .social-link .linkedin i {
    border: 1px solid #0077B5 ;
    color: #0077B5 ;
}
#about .social-link .instagram i {
    border: 1px solid #D93084 ;
    color: #5760DA;
}
#about .social-link .skype i {
    border: 1px solid #00B5EF ;
    color: #00B5EF ;
}
#about .social-link .github i {
    border: 1px solid #24292E ;
    color: #24292E ;
}
#about .social-link .pinterest i {
    border: 1px solid #E60023 ;
    color: #E60023 ;
}
#about .social-link .dribbble i {
    border: 1px solid #E94C89 ;
    color: #E94C89 ;
}
#about .social-link .medium i {
    border: 1px solid #292929 ;
    color: #292929 ;
}


#about .social-link .facebook i:hover {
    background-color: #3E5C9A;
    color: whitesmoke;
}
#about .social-link .twitter i:hover {
    background-color: #1DA1F2;
    color: whitesmoke;
}
#about .social-link .linkedin i:hover {
    background-color: #0077B5;
    color: whitesmoke;
}
#about .social-link .instagram i:hover {
    background: linear-gradient(#5760DA , #D93084);
    color: whitesmoke;
}
#about .social-link .skype i:hover {
    background-color: #00B5EF;
    color: whitesmoke;
}
#about .social-link .github i:hover {
    background-color: #24292E;
    color: whitesmoke;
}
#about .social-link .pinterest i:hover {
    background-color: #E60023;
    color: whitesmoke;
}
#about .social-link .dribbble i:hover {
    background-color: #E94C89;
    color: whitesmoke;
}
#about .social-link .medium i:hover {
    background-color: #292929;
    color: whitesmoke;
}
/* About section End */


/* Sevices Section  */
#services{
    background-image:linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.562)), url(../img/services-bg.jpg);
    color: white;
}

#services .service {
    background: white;
    color: gray;
    padding: 10px;
    border: 1px solid transparent;
    transition: all ease-in .3s;
    -webkit-transition: all ease-in .3s;
    -moz-transition: all ease-in .3s;
    -ms-transition: all ease-in .3s;
    -o-transition: all ease-in .3s;
}
#services .service:hover {
    box-shadow: 0px 0px 35px black;
    transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -o-transform: translateY(-10px);
}
#services .service i{
    font-size: 50px;
    margin: 30px 0px;
}
#services .service:hover i{
    color: #0df737;
}
#services .service h3{
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 15px;
}
#services .service p{
    text-align: justify;
}
/* Sevices Section End */


/* Portfolio section  */
#portfolio{
    overflow: hidden;
    background-image:linear-gradient(rgba(0, 0, 0, 0.303),rgba(0, 0, 0, 0.104)), url(../img/portfolio-bg.jpg);
}
#portfolio .nav-item {
    margin:0 5px;
    padding: 0 3px;
    text-transform: capitalize;
    font-weight: 600;
    color: white;
    cursor: pointer;
    transition: color .3s;
    -webkit-transition: color .3s;
    -moz-transition: color .3s;
    -ms-transition: color .3s;
    -o-transition: color .3s;
}
#portfolio .nav-item.active {
    color: #0df737;
}
#portfolio .nav-item:hover {
    color: #0df737
}
#portfolio .item .content {
    overflow: hidden;
    position: relative;
    border:1px solid transparent;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}
#portfolio .content:hover {
    border: 1px solid #0df737;
    transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -o-transform: translateY(-10px);
}
#portfolio .item .overlay {
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: rgba(13, 247, 56, 0.843);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}
#portfolio .item .content:hover .overlay{
left:0;
}
#portfolio .item .content .overlay a i{
    font-size: 55px;
    color: #ffffff;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}
#portfolio .item .content .overlay a i:hover {
    color: #dadada;
}
/* Portfolio section End */

/* Review sectio  */
#review {
    background-image: url(../img/slider-bg.png);
}
#review .review-slider-wrapper {
    overflow: hidden;
    color: white;
    position: relative;
    padding: 20px 0px;
}

#review .icon i{
    width:60px;
    height: 60px;
    color: rgba(53, 53, 53, 0.527) !important;
}
#review .item img {
    width:120px;
    height: 120px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    object-fit: cover;
    background: #ffffff;
    border:5px solid #0df737;
    margin-bottom: 30px;
}
#review .item .name {
    font-size: 22px;
    text-transform: uppercase;
    font-weight: 600;
}

.owl-theme .owl-nav {
    position: absolute;
    top: 42%;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.owl-theme .owl-nav span {
    font-size: 48px;
    font-weight: 100;
    border: 1px solid;
    width: 40px;
    height: 40px;
    display: inline-block;
    line-height: 0.633;
    border-radius: 50%;
    margin: 0 15px;
    transition: background .2s;
    -webkit-transition: background .2s;
    -moz-transition: background .2s;
    -ms-transition: background .2s;
    -o-transition: background .2s;
}
.owl-theme .owl-nav span:hover {
    background: #0df737;
}
.owl-theme .owl-nav [class*='owl-']:hover{
    background: none;
}
/* Review sectio End */


/* Contact section */
#contact{
    background-image: url(../img/contact-bg.jpg);
}
#contact .form-control {
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
}
#contact .form-control:focus {
    box-shadow: 0 0 0 black;
    border-color: #0df737;
}

#contact .message {
    height: 150px;
    resize: none;
}
/* Contact section End */


/* Foote Section  */
#footer {
    background: black;
    color:whitesmoke;
}
#footer .contact-list {
    margin-bottom: 150px;
}
#footer .section-heading {
    margin-bottom: 50px;
}
#footer .section-heading h2{
    text-transform: capitalize;
    font-family: 'Courgette', cursive;
}
#footer .section-heading h2 span{
    color: #0df737;
}
#footer .list .nav-link{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:180px;
    height: 60px;
    margin: 10px;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}
#footer .list .skype {
    border: 1px solid #00B5EF ;
    color: #00B5EF ;
}
#footer .list .linkedin {
    border: 1px solid #0077B5 ;
    color: #0077B5 ;
}
#footer .list .messenger {
    border: 1px solid #02A1FE ;
    color: #02A1FE ;
}
#footer .list .telegram {
    border: 1px solid #27A7E5 ;
    color: #27A7E5 ;
}


#footer .list .skype:hover {
    background: #00B5EF;
    color: white;
}
#footer .list .linkedin:hover {
    background: #0077B5;
    color: white;
}
#footer .list .messenger:hover {
    background: #02A1FE;
    color: white;
}
#footer .list .telegram:hover {
    background: #27A7E5;
    color: white;
}
/* Foote Section End */
/* Main stylling End */


/* ***************=============*************** */

/* Media query  */
@media (max-width: 1199.98px){
    #hero .name {
        font-size: 50px;
    }
}
@media (max-width:775.98px){
    .navbar{
        background: black;
    }
    .navbar .nav-link:before{
        content: '';
        width: 0px ;
        height: 0px;
    }
}
@media (max-width:567.98px){
    .navbar {
        padding: 0 15px;
    }
    .hero-bg-cover:before {
        width: 470px;
        height: 480px;
    }
    .section-heading h2 {
        font-size: 30px;
    }
}
/* Media query End */